/*按钮样式*/
.btn {
 BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid;
filter : progid:DXImageTransform.Microsoft.gradient(startColorStr=#96CDCD,endColorStr=#FFFFFF);
}
.aaaaa
{
	 background-color:Red;
}
/*添加 删除 修改icon样式*/
.hotelmanageicon
{
	background-image: url(../Images/icons/hotelmanage.png) !important;		
}
.queryicon
{
	background-image: url(../Images/icons/query.png) !important;
}
.saveicon
{
	background-image: url(../Images/icons/accept.png) !important;
}
.addicon
{
	background-image: url(../Images/icons/add.png) !important;
}
.setport
{
	background-image: url(../Images/icons/setport.gif) !important;
}
.editicon
{
	background-image: url(../Images/icons/edit.png) !important;
}
.powericon
{
	background-image: url(../Images/icons/power.png) !important;
}
.deleteicon
{
	background-image: url(../Images/icons/delete.png) !important;
}
.refreshicon
{
	background-image: url(../Images/icons/refresh.png) !important;
}
.roomtypeicon
{
	background-image: url(../Images/icons/roomtypeicon.gif) !important;
}
.indexicon
{
	background-image: url(../Images/icons/indexicon.gif) !important;
}
.todaypriceicon
{
	background-image: url(../Images/icons/todaypriceicon.gif) !important;
	
}
.roomtypeseeicon
{
	background-image: url(../Images/icons/roomtypeseeicon.png) !important;
	
}
.closetabone
{
	background-image: url(../Images/icons/closetabone.gif) !important;
	
}
.closetaball
{
	background-image: url(../Images/icons/closetaball.gif) !important;
	
}
.gonggao
{
	background-image: url(../Images/icons/gonggao.gif) !important;
}
.serchopenroomrecord
{
	
	background-image: url(../Images/icons/serchopenroomrecord.png) !important;
}

.homemanage
{
	background-image: url(../Images/icons/homemanage.gif) !important;
}

.sysmanagemenu
{
	background-image: url(../Images/icons/sysmanagemenu.png) !important;
}

.allmanagemenu
{
	background-image: url(../Images/icons/allmanagemenu.png) !important;
}


.setuseridicon
{
	background-image: url(../Images/icons/setuseridicon.png) !important;
}
.openroomicon
{
	background-image: url(../Images/icons/openroomicons.gif) !important;
}
.openroomiconinfo
{
	background-image: url(../Images/icons/openroomiconinfo.gif) !important;
}
.roomicons
{
	background-image: url(../Images/icons/roomicons.gif) !important;
}
.guesticon
{
	background-image: url(../Images/icons/guesticon.png) !important;
}
.roolrecordicon
{
	background-image: url(../Images/icons/roolrecordicon.png) !important;
}
.roolrecordicons
{
	background-image: url(../Images/icons/roolrecordicon.png) !important;
}
.totalicon
{
	background-image: url(../Images/icons/totalicon.png) !important;
}

.usericon
{
	background-image: url(../Images/icons/usericon.png) !important;
}
.publishicon
{
	background-image: url(../Images/icons/publishicon.png) !important;
}
.exiticon
{	
	background-image: url(../Images/icons/exit.png) !important;
}