vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.asm.c.cc.cd.cod.cpp.cs.csdproj.csproj.cur.cxx.def.dotfuproj.dpcov.dpmdb.dpmem.dpmrg.dppxp.dpsession.dsp.dsw.h.hpp.hxx.i.idl.inc.inl.ipproj.lst.mak.map.mdp.mk.odh.odl.py.pyw.rc.rc2.rct.rgs.s.sln.sol.sor.srf.tlh.tli.txt.user.vbdproj.vddproj.vdp.vdproj.vspscc.vsscc.vssscc.XOML.
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServerEmailTransport vti_ServerIndexServer
vti_webservertype:SR|msiis
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
vti_htmlextensions:SX|.htm.html.plg.shtml.stm.html.htm.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_timecreated:TR|07 Feb 2011 21:25:33 -0000
vti_extenderversion:SR|4.0.2.6513
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp index.asp
vti_insecureserverurl:SR|http://20101107-1843
vti_secureserverurl:SR|https://20101107-1843
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_title:SW|WebPage
